﻿
@{
    ViewBag.Title = "DetaljiKarte";
}

<div class="page-content page-container" id="page-content">
    <div class="padding d-flex justify-content-center">
        <div class="col-xl-5 col-md-10">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-12">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacije</h6>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Naziv manifestacije</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Manifestacija.Naziv</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Poster manifestacije</p>
                                    <img src="@ViewBag.Karta.Manifestacija.PosterManifestacije" width="100" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Datum i vreme odrzavanja</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.DatumOdrzavanja.ToString("dd.MM.yyyy. HH:mm")</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Cena rezervacije</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Cena dinara</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Broj karata</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.BrojKarata</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Tip karte</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Tip.ToString()</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Kupac</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Kupac</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <a class="btn-dark" href="~/Prodavac/Karte">Nazad</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

