﻿
@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="~/Prodavac/Index">Manifestacija <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Prodavac/Karte">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju</a>
            </li>

        </ul>
    </div>
</nav>

<section class="search-sec">
    <div class="container">
        <form action="~/Prodavac/PretragaManifestacije" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div>
                            <input type="text" class="form-control search-slt" name="Naziv" placeholder="Naziv manifestacije">
                        </div>
                        <div>
                            <input type="text" class="form-control search-slt" name="MestoOdrzavanja" placeholder="Mesto odrzavanja">
                        </div>
                        <div>
                            <input type="text" class="form-control search-slt" name="Ulica" placeholder="Ulica">
                        </div>
                        <div>
                            <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaPocetak">
                        </div>
                        <div>
                            <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaKraj">
                        </div>
                        <div>
                            <input type="number" class="form-control search-slt" placeholder="Minimalna cena karte" name="CenaKarteMin">
                        </div>
                        <div>
                            <input type="number" class="form-control search-slt" placeholder="Maksimalna cena karte" name="CenaKarteMax">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-dark">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="search-sec">
    <div class="container" >
            <form action="~/Prodavac/FiltriranjeManifestacije" method="post" novalidate="novalidate">
                <div class="row">
                    <div class="align-content-lg-center">
                        <div class="row">
                            <div>
                                <select class="form-control search-slt" name="TipManifestacije">
                                    <option>Pozoriste</option>
                                    <option>Koncert</option>
                                    <option>Festival</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-dark">Filtriraj</button>
                        </div>

                    </div>
                </div>
            </form>
            <form action="~/Prodavac/FiltriranjeNerasprodatihManifestacija" method="post" novalidate="novalidate">
                <div class="row">
                    <div class="align-content-lg-center">
                        <div class="row">
                            <div>
                                <select class="form-control search-slt">
                                    <option>Nerasprodate manifestacije</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-dark">Filtriraj</button>
                        </div>

                    </div>
                </div>
            </form>
    </div>
</section>

<section class="search-sec">

    <div class="container-fluid">
        <div class="row">
            <div class="align-content-lg-center">
                <div class="row">
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeNazivManifestacijeOpadajuce" role="button">Naziv manifestacije-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeNazivManifestacijeRastuce" role="button">Naziv manifestacije-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeDatumVremeOdrzavanjaOpadajuce" role="button">Datum i vreme odrzavanja-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeDatumVremeOdrzavanjaRastuce" role="button">Datum i vreme odrzavanja-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeCenaKarteOpadajuce" role="button">Cena karte-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeCenaKarteRastuce" role="button">Cena karte-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeMestoOdrzavanjaOpadajuce" role="button">Mesto odrzavanja-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeMestoOdrzavanjaRastuce" role="button">Mesto odrzavanja-rastuće</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th scope="col">Tip manifestacije</th>
            <th scope="col">Broj mesta</th>
            <th scope="col">Datum i vreme održavanja</th>
            <th scope="col">Cena karte</th>
            <th scope="col">Status</th>
            <th scope="col">Mesto održavanja</th>
            <th scope="col">Poster manifestacije</th>
            <th scope="col">Prosecna ocena</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ViewBag.manifestacije.Count; i++)
            {
        <tr>
            <th scope="row">@i</th>
            <td>@ViewBag.manifestacije[i].Naziv</td>
            <td>@ViewBag.manifestacije[i].TipManifestacije.ToString()</td>
            <td>@ViewBag.manifestacije[i].BrojMesta.ToString()</td>
            <td>@ViewBag.manifestacije[i].DatumVremeOdrzavanja.ToString("dd.MM.yyyy.")</td>
            <td>@ViewBag.manifestacije[i].CenaKarte</td>
            @{
                if (@ViewBag.manifestacije[i].Status == true)
                {
                    <td>Aktivan</td>
                }
                else
                {
                    <td>Neaktivan</td>
                }

            }
            <td>
                <table>
                    <tr>
                        <td>@ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.Ulica @ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.Broj</td>
                    </tr>
                    <tr>
                        <td>@ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.PostanskiBroj, @ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.Mesto </td>
                    </tr>
                    <tr>
                        <td>@ViewBag.manifestacije[i].MestoOdrzavanja.GeografskaSirina, @ViewBag.manifestacije[i].MestoOdrzavanja.GeografskaDuzina </td>
                    </tr>
                </table>
            </td>

            <td>
                @{if (ViewBag.manifestacije[i].PosterManifestacije != "")
                    {
                        <img src="@ViewBag.manifestacije[i].PosterManifestacije" width="100" />
                    }

                }
            </td>
            @{
                if (ViewBag.manifestacije[i].DatumVremeOdrzavanja < DateTime.Now)
                {
                    <td>@ViewBag.manifestacije[i].ProsecnaOcena</td>
                }
                else
                {
                    <td></td>
                }
            }
            <td>
                <form action="~/Prodavac/PrikazManifestacije" method="post">
                    <input type="hidden" name="Id" value="@ViewBag.Manifestacije[i].Id" />
                    <button class="btn btn-info">Detalji</button>
                </form>
            </td>
        </tr>
            }
        }

    </tbody>

</table>



