﻿
@{
    ViewBag.Title = "IzmenaManifestacije";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="~/Prodavac/Index">Manifestacija </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Prodavac/Karte">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju <span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>

<div class="page-content page-container" id="page-content">
    <div class="padding  d-flex justify-content-center">
        <form action="~/Prodavac/SacuvajIzmenuManifestacije" method="post">
                <div class="col-xl-30 col-md-35">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-10">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacije</h6>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600">Naziv manifestacije</p>
                                            <input type='text' placeholder='Naziv' name="Naziv" value="@ViewBag.Manifestacija.Naziv" class='input-line full-width'></input>
                                            <input type="hidden" name="Id" value="@ViewBag.Manifestacija.Id" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600">Poster</p>
                                            <img src="@ViewBag.Manifestacija.PosterManifestacije" width="100" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600">Tip manifestacije</p>
                                            <select class="custom-select" name="TipManifestacije">
                                                @{
                                                    if (ViewBag.Manifestacija.TipManifestacije == TipManifestacije.Koncert)
                                                    {
                                                        <option value="1" selected>Koncert</option>
                                                        <option value="2">Festival</option>
                                                        <option value="3">Pozoriste</option>
                                                    }
                                                    else if (ViewBag.Manifestacija.TipManifestacije == TipManifestacije.Festival)
                                                    {
                                                        <option value="1">Koncert</option>
                                                        <option value="2" selected>Festival</option>
                                                        <option value="3">Pozoriste</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="1">Koncert</option>
                                                        <option value="2">Festival</option>
                                                        <option value="3" selected>Pozoriste</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600">Broj mesta</p>
                                            <input type='text' placeholder='Broj mesta' name="BrojMesta" value="@ViewBag.Manifestacija.BrojMesta" class='input-line full-width'></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600">Datum i vreme odrzavanja</p>
                                            <input type='datetime-local' name="DatumVremeOdrzavanja" value="@ViewBag.Manifestacija.DatumVremeOdrzavanja.ToString("yyyy-MM-ddTHH:mm")" class='input-line full-width'></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Cena karte</p>
                                            <input type='text' placeholder='Cena karte' name="CenaKarte" value="@ViewBag.Manifestacija.CenaKarte" class='input-line full-width'></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600">Mesto odrzavanja</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600">Ulica</p>
                                            <input type='text' placeholder='Ulica' name="Ulica" value="@ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Ulica" class='input-line full-width'></input>
                                            <p class="m-b-10 f-w-600">Broj</p>
                                            <input type='number' placeholder='Broj' name="Broj" value="@ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Broj" class='input-line full-width'></input>
                                            <p class="m-b-10 f-w-600">Mesto</p>
                                            <input type='text' placeholder='Mesto' name="Mesto" value="@ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Mesto" class='input-line full-width'></input>
                                            <p class="m-b-10 f-w-600">Postanski broj</p>
                                            <input type='number' placeholder='Postanski broj' name="PostanskiBroj" value="@ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.PostanskiBroj" class='input-line full-width'></input>
                                            <p class="m-b-10 f-w-600">Geografska sirina</p>
                                            <input type='text' placeholder='Geografska sirina' name="GeografskaSirina" value="@ViewBag.Manifestacija.MestoOdrzavanja.GeografskaSirina" class='input-line full-width'></input>
                                            <p class="m-b-10 f-w-600">Geografska duzina</p>
                                            <input type='text' placeholder='Geografska duzina' name="GeografskaDuzina" value="@ViewBag.Manifestacija.MestoOdrzavanja.GeografskaDuzina" class='input-line full-width'></input>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-dark" value="Sacuvaj">Sacuvaj</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>


