﻿
@{
    ViewBag.Title = "Karte";
}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Prodavac/Index">Manifestacija</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Prodavac/Karte">Karte <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="~/LogIn/Profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="search-sec">
            <div class="container">
                <form action="~/Prodavac/PretragaKarata" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div>
                                    <input type="text" class="form-control search-slt" name="Naziv" placeholder="Naziv manifestacije">
                                </div>
                                <div>
                                    <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaPocetak">
                                </div>
                                <div>
                                    <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaKraj">
                                </div>
                                <div>
                                    <input type="number" class="form-control search-slt" placeholder="Minimalna cena karte" name="CenaKarteMin">
                                </div>
                                <div>
                                    <input type="number" class="form-control search-slt" placeholder="Maksimalna cena karte" name="CenaKarteMax">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-dark">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="search-sec">
            <div class="container">
                <form action="~/Prodavac/FiltriranjeTipKarte" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="align-content-lg-center">
                            <div class="row">
                                <div>
                                    <select class="form-control search-slt" name="TipKarte">
                                        <option value="REGULAR">REGULAR</option>
                                        <option value="VIP">VIP</option>
                                        <option value="FAN_PIT">FAN_PIT</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-dark">Filtriraj</button>
                            </div>

                        </div>
                    </div>
                </form>
                <form action="~/Prodavac/FiltriranjeStatusKarte" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="align-content-lg-center">
                            <div class="row">

                                <div>
                                    <select class="form-control search-slt"  name="StatusKarte">
                                        <option>Rezervisana</option>
                                        <option>Odustanak</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-dark">Filtriraj</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="search-sec">

            <div class="container-fluid">
                <div class="row">
                    <div class="align-content-lg-center">
                        <div class="row">

                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeNazivOpadajuce" role="button">Naziv manifestacije-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeNazivRastuce" role="button">Naziv manifestacije-rastuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeVremeOpadajuce" role="button">Datum odrzavanja-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeVremeRastuce" role="button">Datum odrzavanja-rastuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeCenaOpadajuce" role="button">Cena karte-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Prodavac/SortiranjeCenaRastuce" role="button">Cena karte-rastuće</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv manifestacije</th>
            <th scope="col">Poster manifestacije</th>
            <th scope="col">Datum i vreme održavanja</th>
            <th scope="col">Mesto odrzavanja</th>
            <th scope="col">Cena karte</th>
            <th scope="col">Tip rezervacije</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ViewBag.Karta.Count; i++)
            {
        <tr>
            <th scope="row">@i</th>
            <td>@ViewBag.Karta[i].Manifestacija.Naziv.ToString()</td>
            <td>
                @{if (ViewBag.Karta[i].Manifestacija.PosterManifestacije != "")
                    {
                        <img src="@ViewBag.Karta[i].Manifestacija.PosterManifestacije" width="100" />
                    }

                }
            </td>
            <td>@ViewBag.Karta[i].DatumOdrzavanja.ToString("dd.MM.yyyy. HH:mm")</td>
            <td>
                <table>
                    <tr>
                        <td>@ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Ulica @ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Broj</td>
                    </tr>
                    <tr>
                        <td>@ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.PostanskiBroj, @ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Mesto </td>
                    </tr>
                    <tr>
                        <td>@ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.GeografskaSirina, @ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.GeografskaDuzina </td>
                    </tr>
                </table>
            </td>
            <td>@ViewBag.Karta[i].Cena</td>
            <td>@ViewBag.Karta[i].Tip.ToString()</td>
            <td>
                <form action="~/Prodavac/DetaljiKarte" method="post">
                    <input type="hidden" name="Id" value="@ViewBag.Karta[i].JedinstveniIdentifikatorKarte" />
                    <button class="btn btn-info">Detalji</button>
                </form>
            </td>
        </tr>
            }
        }

    </tbody>

</table>

