﻿
@{
    ViewBag.Title = "Manifestacija";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="~/Prodavac/Index">Manifestacija </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Prodavac/Karte">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju <span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>





<div class="page-content page-container" id="page-content">
    <div class="padding  d-flex justify-content-center">
        <form action="~/Prodavac/NapraviManifestaciju" method="post" enctype="multipart/form-data">
            <div class="col-xl-4 col-md-4">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-10">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacije</h6>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type='text' placeholder='Naziv' name="Naziv" class='input-line full-width' required></input>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <select class="custom-select" name="TipManifestacije">
                                            <option value="1" selected>Koncert</option>
                                            <option value="2">Festival</option>
                                            <option value="3">Pozoriste</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type='text' placeholder='Broj mesta' name="BrojMesta" class='input-line full-width' required></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type='datetime-local' name="DatumVremeOdrzavanja" class='input-line full-width' required></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type='text' placeholder='Cena karte' name="CenaKarte" class='input-line full-width' required></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <p class="m-b-10 f-w-600">Mesto odrzavanja</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type='text' placeholder='Ulica' name="Ulica" class='input-line full-width' required></input>
                                        <input type='number' placeholder='Broj' name="Broj" class='input-line full-width' required></input>
                                        <input type='text' placeholder='Mesto' name="Mesto" class='input-line full-width' required></input>
                                        <input type='number' placeholder='Postanski broj' name="PostanskiBroj" class='input-line full-width' required></input>
                                        <input type='text' placeholder='Geografska sirina' name="GeografskaSirina" class='input-line full-width' required></input>
                                        <input type='text' placeholder='Geografska duzina' name="GeografskaDuzina" class='input-line full-width' required></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <span>Poster manifestacije</span><br />
                                        <input type="file" name="file" id="file" required/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn-dark" value="Dodaj manifestaciju">Dodaj manifestaciju</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


