﻿
@{
    ViewBag.Title = "PrikazManifestacije";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="~/Prodavac/Index">Manifestacija </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Prodavac/Karte">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju</a>
            </li>

        </ul>
    </div>
</nav>

<div class="page-content page-container" id="page-content">
    <div class="padding d-flex justify-content-center">
        <div class="col-xl-5 col-md-10">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-12">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacije</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Naziv manifestacije</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.Naziv</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Poster</p>
                                    <img src="@ViewBag.Manifestacija.PosterManifestacije" width="100" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Tip manifestacije</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.TipManifestacije.ToString()</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Status</p>
                                    @{
                                        if (@ViewBag.Manifestacija.Status == true)
                                        {
                                            <h6 class="text-muted f-w-400">Aktivno</h6>

                                        }
                                        else
                                        {
                                            <h6 class="text-muted f-w-400">Neaktivno</h6>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Broj mesta</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.BrojMesta</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Datum i vreme odrzavanja</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.DatumVremeOdrzavanja.ToString("dd.MM.yyyy. HH:mm")</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Cena karte</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.CenaKarte dinara</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Mesto odrzavanja</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Ulica @ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Broj </h6>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.PostanskiBroj @ViewBag.Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Mesto</h6>
                                    <h6 class="text-muted f-w-400">@ViewBag.Manifestacija.MestoOdrzavanja.GeografskaSirina, @ViewBag.Manifestacija.MestoOdrzavanja.GeografskaDuzina</h6>
                                </div>
                            </div>
                            <div class="row">
                                <a class="btn btn-dark" href="~/Prodavac/IzmenaManifestacije?Id=@ViewBag.Manifestacija.Id" role="button">Izmeni manifestaciju</a>

                            </div>
                            <a class="btn-dark" href="~/Prodavac/Index">Nazad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    
                    <th scope="col">#</th>
                    <th scope="col">Korisničko ime</th>
                    <th scope="col">Ocena</th>
                    <th scope="col">Komentar</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < ViewBag.komentari.Count; i++)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@ViewBag.komentari[i].Kupac</td>
                            <td>@ViewBag.komentari[i].Ocena</td>
                            <td>@ViewBag.komentari[i].TekstKomentara</td>

                            <td>@{ 
                                if(ViewBag.komentari[i].Status == false)
                                {
                                    <form method="post" action="~/Prodavac/AktivirajKomentar">
                                        <input type="hidden" value="@ViewBag.komentari[i].Id" name="Id"/>
                                        <button type="submit" value="Aktiviraj">Aktiviraj</button>
                                    </form>
                                }
                            }
                            </td>
                        </tr>
                    }
                }

            </tbody>

        </table>

    </div>
</div>
