﻿
@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="~/Administrator/Index">Korisnici <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Administrator/Manifestacija">Manifestacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Administrator/Karte">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Registration">Dodaj prodavca</a>
            </li>
        </ul>
    </div>
</nav>


<section class="search-sec">
    <div class="container">
        <form action="~/Administrator/PretragaKorisnika" method="post" novalidate="novalidate">
            <div class="row">
                <div class="align-content-lg-center">
                    <div class="row">
                        <div>
                            <input type="text" class="form-control search-slt" name="KorisnickoIme" placeholder="Korisnicko ime">
                        </div>
                        <div>
                            <input type="text" class="form-control search-slt" name="Ime" placeholder="Ime">
                        </div>
                        <div>
                            <input type="text" class="form-control search-slt" name="Prezime" placeholder="Prezime">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-dark">Search</button>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </form>
    </div>
</section>


<section class="search-sec">
    <div class="container">
        <form action="~/Administrator/FiltriranjeKorisnika" method="post" novalidate="novalidate">
            <div class="row">
                <div class="align-content-lg-center">
                    <div class="row">
                        <div>
                            <select class="form-control search-slt" name="Uloga">
                                <option>Administrator</option>
                                <option>Kupac</option>
                                <option>Prodavac</option>
                            </select>
                        </div>
                       
                        <button type="submit" class="btn btn-dark">Filtriraj</button>
                    </div>

                </div>
            </div>
        </form>
        <form action="~/Administrator/FiltriranjeTipova" method="post" novalidate="novalidate">
            <div class="row">
                <div class="align-content-lg-center">
                    <div class="row">
                        <div>
                            <select class="form-control search-slt" name="ImeTipa">
                                <option>Zlatni</option>
                                <option>Srebrni</option>
                                <option>Bronzani</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-dark">Filtriraj</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>


<section class="search-sec">

    <div class="container-fluid">
        <div class="row">
            <div class="align-content-lg-center">
                <div class="row">
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeKorisnickoImeOpadajuce" role="button">Korisničko ime-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeKorisnickoImeRastuce" role="button">Korisničko ime-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeImeOpadajuce" role="button">Ime-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeImeRastuce" role="button">Ime-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjePrezimeOpadajuce" role="button">Prezime-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjePrezimeRastuce" role="button">Prezime-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeBrojBodovaOpadajuce" role="button">Broj bodova-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeBrojBodovaRastuce" role="button">Broj bodova-rastuće</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Korisničko ime</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Pol</th>
            <th scope="col">Datum rođenja</th>
            <th scope="col">Uloga</th>
            <th scope="col">Broj sakupljenih bodova</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ViewBag.korisnici.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@ViewBag.korisnici[i].KorisnickoIme</td>
                    <td>@ViewBag.korisnici[i].Ime</td>
                    <td>@ViewBag.korisnici[i].Prezime</td>
                    <td>@ViewBag.korisnici[i].Pol</td>
                    <td>@ViewBag.korisnici[i].DatumRodjenja.ToString("dd.MM.yyyy.")</td>
                    <td>@ViewBag.korisnici[i].Uloga.ToString()</td>
                    <td>
                        @{
                            if (ViewBag.korisnici[i].Uloga == Uloga.Kupac)
                            {
                                <span> @ViewBag.korisnici[i].BrojSakupljenihBodova</span>
                            }
                        }
                    </td>
                </tr>
            }
        }

    </tbody>

</table>


