﻿
@{
    ViewBag.Title = "Karte";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="~/Administrator/Index">Korisnici</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Administrator/Manifestacija">Manifestacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="~/Administrator/Karte">Karte  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Registration">Dodaj prodavca</a>
            </li>

        </ul>
    </div>
</nav>

<section class="search-sec">
    <div class="container">
        <form action="~/Administrator/PretragaKarata" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div>
                            <input type="text" class="form-control search-slt" name="Naziv" placeholder="Naziv manifestacije">
                        </div>
                        <div>
                            <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaPocetak">
                        </div>
                        <div>
                            <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaKraj">
                        </div>
                        <div>
                            <input type="number" class="form-control search-slt" placeholder="Minimalna cena karte" name="CenaKarteMin">
                        </div>
                        <div>
                            <input type="number" class="form-control search-slt" placeholder="Maksimalna cena karte" name="CenaKarteMax">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-dark">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="search-sec">
    <div class="container">
        <form action="~/Administrator/FiltriranjeTipKarte" method="post" novalidate="novalidate">
            <div class="row">
                <div class="align-content-lg-center">
                    <div class="row">
                        <div>
                            <select class="form-control search-slt" name="TipKarte">
                                <option value="REGULAR">REGULAR</option>
                                <option value="VIP">VIP</option>
                                <option value="FAN_PIT">FAN_PIT</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-dark">Filtriraj</button>
                    </div>

                </div>
            </div>
        </form>
        <form action="~/Administrator/FiltriranjeStatusKarte" method="post" novalidate="novalidate">
            <div class="row">
                <div class="align-content-lg-center">
                    <div class="row">

                        <div>
                            <select class="form-control search-slt"  name="StatusKarte">
                                <option>Rezervisana</option>
                                <option>Odustanak</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-dark">Filtriraj</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>

<section class="search-sec">

    <div class="container-fluid">
        <div class="row">
            <div class="align-content-lg-center">
                <div class="row">
                    
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeNazivOpadajuce" role="button">Naziv manifestacije-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeNazivRastuce" role="button">Naziv manifestacije-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeVremeOpadajuce" role="button">Datum odrzavanja-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeVremeRastuce" role="button">Datum odrzavanja-rastuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeCenaOpadajuce" role="button">Cena karte-opadajuće</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="~/Administrator/SortiranjeCenaRastuce" role="button">Cena karte-rastuće</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Jedinstveni broj</th>
            <th scope="col">Naziv manifestacije</th>
            <th scope="col">Datum održavanja</th>
            <th scope="col">Cena</th>
            <th scope="col">Kupac</th>
            <th scope="col">Status</th>
            <th scope="col">Tip</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ViewBag.karte.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@ViewBag.karte[i].JedinstveniIdentifikatorKarte</td>
                    <td>@ViewBag.karte[i].Manifestacija.Naziv</td>
                    <td>@ViewBag.karte[i].DatumOdrzavanja.ToString("dd.MM.yyyy.")</td>
                    <td>@ViewBag.karte[i].Cena</td>
                    <td>@ViewBag.karte[i].Kupac</td>
                    @{
                        if (@ViewBag.karte[i].Status == true)
                        {
                            <td>Odustanak</td>
                        }
                        else
                        {
                            <td>Rezervisana</td>
                        }

                    }
                    <td>@ViewBag.karte[i].Tip.ToString()</td>
                </tr>
            }
        }

    </tbody>

</table>

