﻿
@{
    ViewBag.Title = "Komentari";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Korisničko ime</th>
            <th scope="col">Ocena</th>
            <th scope="col">Komentar</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ViewBag.komentari.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@ViewBag.komentari[i].Kupac</td>
                    <td>@ViewBag.komentari[i].Ocena</td>
                    <td>@ViewBag.komentari[i].TekstKomentara</td>
                    <td>
                        @{ if(ViewBag.komentari[i].Status == true)
                            {
                                <span>Odobren</span>
                            } else
                            {
                                <span>Odbijen</span>
                            }

                        }
                    </td>
                </tr>
            }
        }

    </tbody>

</table>
<a class="btn-dark" href="~/Administrator/Manifestacija">Nazad</a>