﻿
/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row-refine {
    margin: 0 -15px;
}

.col-2 {
    width: -webkit-calc((100% - 30px) / 2);
    width: -moz-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin: 0;
    padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
    margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
    min-width: 0;
    /* [1] */
    border: 0;
}

button {
    outline: none;
    background: none;
    border: none;
    font-family: inherit;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
    min-height: 100vh;
}

body {
    font-family: "Lato", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-img-1 {
    background: url("../images/bg-img-01.jpg") center center/cover no-repeat;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-15 {
    padding-top: 15px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-275 {
    padding-top: 275px;
}

@media (max-width: 767px) {
    .p-t-275 {
        padding-top: 120px;
    }
}

.p-t-165 {
    padding-top: 165px;
}

@media (max-width: 767px) {
    .p-t-165 {
        padding-top: 120px;
    }
}

.p-b-100 {
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    .p-b-100 {
        padding-bottom: 250px;
    }
}

.m-r-45 {
    margin-right: 45px;
}

@media (max-width: 767px) {
    .m-r-45 {
        margin-right: 15px;
    }
}

.m-t-0 {
    margin-top: 0;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
    margin: 0 auto;
}

.wrapper--w680 {
    max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn-submit {
    display: block;
    margin-top: 32px;
    width: 100%;
    line-height: 50px;
    font-family: inherit;
    background: #00ad5f;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .btn-submit:hover {
        background: #00994b;
    }

.m-t-0 {
    margin-top: 0;
}

/* ==========================================================================
   #DATEPICKER
   ========================================================================== */
.daterangepicker {
    display: none;
    width: 570px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px 35px;
    padding-top: 27px;
    padding-bottom: 45px;
    margin-top: 2px;
}

@media (max-width: 767px) {
    .daterangepicker {
        width: -webkit-calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: calc(100% - 60px);
        padding: 25px 0px;
    }
}

.daterangepicker:before, .daterangepicker:after {
    display: none;
}

.daterangepicker .calendar {
    margin: 0;
    width: 235px;
}

    .daterangepicker .calendar th {
        font-size: 14px;
        color: #aaa;
        cursor: default;
    }

        .daterangepicker .calendar th.month {
            font-size: 16px;
            color: #555;
            font-weight: 700;
        }

        .daterangepicker .calendar th.next, .daterangepicker .calendar th.prev {
            font-size: 20px;
            color: #ccc;
            text-align: center;
        }

    .daterangepicker .calendar.right {
        float: right;
    }

@media (max-width: 767px) {
    .daterangepicker .calendar {
        width: 235px;
        max-width: 270px;
    }

        .daterangepicker .calendar.right, .daterangepicker .calendar.left {
            float: none !important;
            clear: none !important;
            margin: 0 auto !important;
        }

        .daterangepicker .calendar.left {
            margin-bottom: 30px !important;
        }
}

.daterangepicker .calendar-table {
    padding: 0;
}

    .daterangepicker .calendar-table .table-condensed thead tr:nth-child(2) th {
        padding-top: 27px;
        padding-bottom: 17px;
    }

.daterangepicker.ltr .calendar.left .calendar-table {
    padding: 0;
}

.daterangepicker_input {
    display: none;
}

.daterangepicker td {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-family: "Lato", "Arial", "Helvetica Neue", sans-serif;
    text-align: center;
    font-size: 14px;
    color: #555;
}

    .daterangepicker td.start-date, .daterangepicker td.end-date {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #ffa037;
    }

        .daterangepicker td.start-date.end-date {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

    .daterangepicker td.in-range {
        background: #ffe1c4;
    }

    .daterangepicker td.today {
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
        background: #c9c9c9;
    }

        .daterangepicker td.today.in-range {
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            background: #ffe1c4;
        }

    .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
        background: transparent;
        color: #aaa;
    }

.daterangepicker select {
    outline: none;
    font-family: inherit;
}

    .daterangepicker select.monthselect, .daterangepicker select.yearselect {
        font-size: 14px;
        padding: 8px 4px;
    }

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background: #ffa037;
}

.dropdown-datepicker {
    position: relative;
}

    .dropdown-datepicker .daterangepicker {
        width: 270px;
        padding: 20px;
    }

/* ==========================================================================
   #FORM
   ========================================================================== */
input,
textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
}

    input:disabled {
        background: transparent;
        cursor: pointer;
    }

textarea {
    resize: none;
}

button {
    cursor: pointer;
}

.input-group {
    position: relative;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 34px;
}

.input-group-icon {
    position: relative;
}

.input-icon {
    font-size: 24px;
    color: #808080;
    position: absolute;
    line-height: 44px;
    right: 0;
    top: 0;
    width: 42px;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

    .input-icon::before {
        display: block;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

.label {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    display: block;
    margin-bottom: -3px;
    font-weight: 700;
}

.input--style-1 {
    font-weight: 700;
    font-size: 18px;
    padding: 11px 0;
    color: #555555;
}

    .input--style-1::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #555;
    }

    .input--style-1:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #555;
        opacity: 1;
    }

    .input--style-1::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #555;
        opacity: 1;
    }

    .input--style-1:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #555;
    }

    .input--style-1:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #555;
    }

/* CHECKBOX */
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 7px;
    height: 10px;
    border: solid #00ad5f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ==========================================================================
   #SELECT
   ========================================================================== */
.quantity {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
}

@media (max-width: 575px) {
    .quantity {
        float: none;
        margin-top: 10px;
    }
}

.quantity > input {
    -webkit-appearance: none;
    width: 55px;
    text-align: center;
    font-size: 18px;
    color: #555;
    font-weight: 700;
}

.minus,
.plus {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 26px;
    text-align: center;
    border: 2px solid #ccc;
    font-size: 24px;
    color: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .minus:hover,
    .plus:hover {
        background: #ccc;
        color: #fff;
    }

.list-room {
    list-style: none;
    max-height: 324px;
    overflow-y: auto;
    padding-right: 20px;
}

.list-room__item {
    margin-bottom: 20px;
}

.list-room__footer {
    padding-top: 22px;
    border-top: 1px solid #e5e5e5;
}

.list-room__name {
    margin-bottom: 27px;
    display: block;
    font-weight: 700;
    color: #999;
}

.list-person {
    list-style: none;
}

    .list-person .list-person__item:last-child {
        margin-bottom: 0;
    }

.list-person__item {
    margin-bottom: 34px;
}

    .list-person__item::after {
        content: "";
        clear: both;
        display: table;
    }

    .list-person__item .name {
        font-size: 18px;
        color: #555;
        font-weight: 700;
        display: inline-block;
        margin-top: 5px;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn-add-room {
    font-family: inherit;
    font-size: 16px;
    color: #00ad5f;
    font-weight: 700;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    #btn-add-room:hover {
        text-decoration: underline;
    }

.dropdown-select {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -webkit-calc(100% + 2px);
    top: -moz-calc(100% + 2px);
    top: calc(100% + 2px);
    background: #fff;
    z-index: 999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 30px 45px;
    padding-right: 25px;
}

    .dropdown-select.show {
        display: block;
    }

.open .input-icon::before {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
    display: none !important;
}

.rs-select2 {
    width: 100%;
}

    .rs-select2 .select2-container {
        width: 100% !important;
        outline: none;
    }

        .rs-select2 .select2-container .select2-selection--single {
            outline: none;
            border: none;
            height: 44px;
        }

            .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
                line-height: 44px;
                padding-left: 0;
                color: #555;
                font-size: 18px;
                font-weight: 700;
            }

            .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
                height: 44px;
                right: 4px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
                    display: none;
                }

                .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
                    font-family: "Material-Design-Iconic-Font";
                    content: '\f2f9';
                    font-size: 24px;
                    color: #808080;
                    -webkit-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                }

        .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }

.select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    margin-top: 2px;
    overflow: hidden;
}

.select2-container--default .select2-results__option {
    padding: 10px;
    font-size: 18px;
    color: #666;
    font-weight: 700;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #ff8300;
}

/* ==========================================================================
   #TAB
   ========================================================================== */
.tab-list {
    list-style: none;
    background: #fa4251;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    padding: 0 20px;
}

    .tab-list::after {
        content: "";
        clear: both;
        display: table;
    }

@media (max-width: 576px) {
    .tab-list {
        padding: 10px 20px;
    }
}

.tab-list__item {
    float: left;
}

    .tab-list__item.active {
        position: relative;
    }

        .tab-list__item.active::after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(250, 66, 81, 0);
            border-top-color: #fa4251;
            border-width: 8px;
            margin-left: -8px;
        }

@media (max-width: 576px) {
    .tab-list__item {
        float: none;
    }

        .tab-list__item.active::after {
            display: none;
        }
}

.tab-list__link {
    display: block;
    text-transform: uppercase;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.6);
    padding: 14px 20px;
}

    .tab-list__link:hover {
        color: #fff;
    }

@media (max-width: 576px) {
    .tab-list__link {
        padding: 5px 20px;
    }
}

.tab-list .active .tab-list__link {
    color: #fff;
}

.tab-content > .tab-pane {
    display: none;
    padding: 44px 55px;
    padding-bottom: 45px;
}

    .tab-content > .tab-pane.active {
        display: block;
    }

@media (max-width: 767px) {
    .tab-content > .tab-pane {
        padding: 30px;
        padding-bottom: 45px;
    }
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 24px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card-1 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

    .card-1 .card-body {
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    }
