﻿
@{
    /**/

    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/PocetnaStrana">Početna strana</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Registration">Registruj se</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/LogIn/Index">Uloguj se<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>


<form class="login" method="post" action="~/LogIn/LogIn">
    <div class='login'>
        <h2>Logovanje</h2>
        <input type='text' placeholder='Korisnicko ime' name="KorisnickoIme" class='input-line full-width'></input>
       
        <input type='password' name="Lozinka" placeholder='Lozinka' class='input-line full-width'></input>
        
        <input class="btn animated" type="submit" value="Uloguj se"></input>
        <a class='btn animated' href='~/LogIn/Registration' role="button">Registruj se</a>

    </div>
</form>
