﻿
@{
    ViewBag.Title = "IzmenaProfila";
}

@{
    if (((Korisnik)(Session["ulogovan"])).Uloga == Uloga.Administrator)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Index">Korisnici </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Manifestacija">Manifestacija </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Karte">Karte</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="~/LogIn/Profil">Profil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Registration">Dodaj prodavca</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    else if (((Korisnik)(Session["ulogovan"])).Uloga == Uloga.Prodavac)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="~/Prodavac/Index">Manifestacija</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Prodavac/Karte">Karte</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/LogIn/Profil">Profil  <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    else
    {

    }
}


<div class="page-content page-container" id="page-content">
    <div class="padding d-flex justify-content-center">
        <form method="post" action="~/LogIn/SacuvajIzmeneProfila">
            
                <div class="col-xl-8 col-md-15">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                    <button type="submit" class="btn btn-dark" value="Sacuvaj">Sacuvaj</button>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacije</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Korisnicko ime</p>
                                            <input class="text-muted f-w-400" type="text" name="KorisnickoIme" value="@ViewBag.Korisnik.KorisnickoIme" />
                                            @{
                                                if (ViewBag.Greska != null)
                                                {
                                                    <span>@ViewBag.Greska</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Ime i prezime</p>
                                            <input class="text-muted f-w-400" type="text" name="Ime" value="@ViewBag.Korisnik.Ime" />
                                            <input class="text-muted f-w-400" type="text" name="Prezime" value="@ViewBag.Korisnik.Prezime" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Lozinka</p>
                                            <input class="text-muted f-w-400" type="password" name="Lozinka" value="@ViewBag.Korisnik.Lozinka" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Datum rodjenja</p>
                                            <input class="text-muted f-w-400" type="date" name="DatumRodjenja" value="@ViewBag.Korisnik.DatumRodjenja.ToString("yyyy-MM-dd")" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </form>
    </div>
</div>
