﻿
@{
    ViewBag.Title = "PocetnaStrana";
}

<!--navbar-->
@{
    if ((Korisnik)(Session["ulogovan"]) != null)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Kupac/Index">Manifestacija<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Kupac/Karte">Karte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>

                </ul>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/LogIn/PocetnaStrana">Početna strana<span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Registration">Registruj se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Index">Uloguj se</a>
                    </li>
                </ul>
            </div>
        </nav>

    }
}

<!--Sortiranje i filtritanje manifestacija Kupac-->
@{
    if ((Korisnik)(Session["ulogovan"]) != null)
    {
        <section class="search-sec">
            <div class="container">
                <form action="~/Kupac/PretragaManifestacije" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div>
                                    <input type="text" class="form-control search-slt" name="Naziv" placeholder="Naziv manifestacije">
                                </div>
                                <div>
                                    <input type="text" class="form-control search-slt" name="MestoOdrzavanja" placeholder="Mesto odrzavanja">
                                </div>
                                <div>
                                    <input type="text" class="form-control search-slt" name="Ulica" placeholder="Ulica">
                                </div>
                                <div>
                                    <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaPocetak">
                                </div>
                                <div>
                                    <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaKraj">
                                </div>
                                <div>
                                    <input type="number" class="form-control search-slt" placeholder="Minimalna cena karte" name="CenaKarteMin">
                                </div>
                                <div>
                                    <input type="number" class="form-control search-slt" placeholder="Maksimalna cena karte" name="CenaKarteMaks">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-dark">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="search-sec">
            <div class="container">
                <form action="~/Kupac/FiltriranjeManifestacije" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="align-content-lg-center">
                            <div class="row">
                                <div>
                                    <select class="form-control search-slt" name="TipManifestacije">
                                        <option>Pozoriste</option>
                                        <option>Koncert</option>
                                        <option>Festival</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-dark">Filtriraj</button>
                            </div>

                        </div>
                    </div>
                </form>
                <form action="~/Kupac/FiltriranjeNerasprodatihManifestacija" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="align-content-lg-center">
                            <div class="row">

                                <div>
                                    <select class="form-control search-slt">
                                        <option>Nerasprodate manifestacije</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-dark">Filtriraj</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="search-sec">

            <div class="container-fluid">
                <div class="row">
                    <div class="align-content-lg-center">
                        <div class="row">
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeNazivManifestacijeOpadajuce" role="button">Naziv manifestacije-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeNazivManifestacijeRastuce" role="button">Naziv manifestacije-rastuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeDatumVremeOdrzavanjaOpadajuce" role="button">Datum i vreme odrzavanja-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeDatumVremeOdrzavanjaRastuce" role="button">Datum i vreme odrzavanja-rastuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeCenaKarteOpadajuce" role="button">Cena karte-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeCenaKarteRastuce" role="button">Cena karte-rastuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeMestoOdrzavanjaOpadajuce" role="button">Mesto odrzavanja-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeMestoOdrzavanjaRastuce" role="button">Mesto odrzavanja-rastuće</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    }
}

<table>
    <tr>
        <th>#</th>
        <th>Naziv</th>
        <th>Tip manifestacije</th>
        <th>Datum i vreme odrzavanja</th>
        <th>Mesto odrzavanja</th>
        <th>Poster manifestacije</th>
        <th>Prosecna ocena</th>
        <th></th>
    </tr>
    @{
        for (int i = 0; i < ViewBag.manifestacije.Count; i++)
        {
    <tr>
        <th scope="row">@i</th>
        <td>@ViewBag.manifestacije[i].Naziv</td>
        <td>@ViewBag.manifestacije[i].TipManifestacije.ToString()</td>
        <td>@ViewBag.manifestacije[i].DatumVremeOdrzavanja.ToString("dd.MM.yyyy. HH:mm")</td>

        <td>
            <table>
                <tr>
                    <td>@ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.Ulica @ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.Broj</td>
                </tr>
                <tr>
                    <td>@ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.PostanskiBroj, @ViewBag.manifestacije[i].MestoOdrzavanja.MestoOdrzavanja.Mesto </td>
                </tr>
                <tr>
                    <td>@ViewBag.manifestacije[i].MestoOdrzavanja.GeografskaSirina, @ViewBag.manifestacije[i].MestoOdrzavanja.GeografskaDuzina </td>
                </tr>
            </table>
        </td>
        <td>
            @{if (ViewBag.manifestacije[i].PosterManifestacije != "")
                {
                    <img src="@ViewBag.manifestacije[i].PosterManifestacije" width="100" />
                }

            }
        </td>
        @{
            if (ViewBag.manifestacije[i].DatumVremeOdrzavanja < DateTime.Now)
            {
                <td>@ViewBag.manifestacije[i].ProsecnaOcena</td>
            }
            else
            {
                <td></td>
            }
        }
        <td>
            <form action="~/LogIn/DetaljiManifestacije" method="post">
                <input type="hidden" name="Id" value="@ViewBag.Manifestacije[i].Id" />
                <button type="submit" class="btn btn-info">Detalji</button>
            </form>
            @{
                if ((Korisnik)(Session["ulogovan"]) != null)
                {
                    if (DateTime.Now > @ViewBag.manifestacije[i].DatumVremeOdrzavanja)
                    {
                        <form action="~/Kupac/DodavanjeKomentara" method="post">
                            <input type="hidden" name="Id" value="@ViewBag.Manifestacije[i].Id" />
                            <button type="submit" class="btn btn-info">Dodaj komentar</button>
                        </form>
                    }
                }
            }

        </td>

    </tr>
        }
    }

</table>


