﻿
@{
    ViewBag.Title = "Profil";
}

@{
    if (((Korisnik)(Session["ulogovan"])).Uloga == Uloga.Administrator)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Index">Korisnici </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Manifestacija">Manifestacija </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Karte">Karte</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="~/LogIn/Profil">Profil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Registration">Dodaj prodavca</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    else if (((Korisnik)(Session["ulogovan"])).Uloga == Uloga.Prodavac)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="~/Prodavac/Index">Manifestacija</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Prodavac/Karte">Karte</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/LogIn/Profil">Profil  <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Kupac/Index">Manifestacija</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Kupac/Karte">Karte</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/LogIn/Profil">Profil<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>

                </ul>
            </div>
        </nav>
    }
}


<div class="page-content page-container" id="page-content">
    <div class="padding d-flex justify-content-center">
        <div class="col-xl-6 col-md-12">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                            <h6 class="f-w-600">@ViewBag.Korisnik.KorisnickoIme</h6>
                            @{
                                if (((Korisnik)Session["ulogovan"]).Uloga != Uloga.Administrator)
                                {
                                    <a href="~/LogIn/IzmenaProfila" style="text-decoration:none"> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i></a>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacije</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Korisnicko ime</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Korisnik.KorisnickoIme</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Ime i prezime</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Korisnik.Ime @ViewBag.Korisnik.Prezime</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Pol</p>
                                    @{
                                        if (@ViewBag.Korisnik.Pol == "M")
                                        {
                                            <h6 class="text-muted f-w-400">Muski</h6>
                                        }
                                        else
                                        {
                                            <h6 class="text-muted f-w-400">Zenski</h6>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Datum rodjenja</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Korisnik.DatumRodjenja.ToString("dd.MM.yyyy.")</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



