﻿
@{
    ViewBag.Title = "Registration";
}

@{
    if ((Korisnik)(Session["ulogovan"]) != null)
    {
        if (((Korisnik)(Session["ulogovan"])).Uloga == Uloga.Administrator)
        {<!--navbar za admina-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Administrator/Index">Korisnici</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Administrator/Manifestacija">Manifestacija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Administrator/Karte">Karte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/LogIn/Profil">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="~/LogIn/Registration">Dodaj prodavca <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        }

    }
    else
    {
        <!--navbar za neulogovanog korisnika-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/PocetnaStrana">Početna strana</a>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/LogIn/Registration">Registruj se<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Index">Uloguj se</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>


<form class="login" method="post" action="~/LogIn/RegistrujSe">
    <div class='login'>
        @{

            if (((Korisnik)(Session["ulogovan"])) == null)
            {
                <h2>Registracija</h2>
            }
            else
            {
                <h2>Dodaj prodavca</h2>
            }
        }

        <input type='text' placeholder='Korisnicko ime' name="KorisnickoIme" class='input-line full-width' required></input>
        <input type='password' name="Lozinka" placeholder='Lozinka' class='input-line full-width' required></input>
        <input type='text' placeholder='Ime' name="Ime" class='input-line full-width' required></input>
        <input type='text' placeholder='Prezime' name="Prezime" class='input-line full-width' required></input>
        <input type="radio" name="Pol" value="M" checked />
        Muški
        <input type="radio" name="Pol" value="Z" />
        Ženski
        <input type='date' placeholder='Datum rodjenja' name="DatumRodjenja" class='input-line full-width' required></input>


        @{
            if (((Korisnik)(Session["ulogovan"])) == null)
            {
                <input type="submit" value="Registruj se" class="btn btn-dark"></input>
                <a class='btn animated' href='~/LogIn/Index' role="button">Uloguj se</a>
            }
            else
            {
                <input type="submit" value="Dodaj prodavca" class="btn btn-dark"></input>
            }

        }

    </div>
</form>


