﻿
@{
    ViewBag.Title = "DodajKomentar";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Kupac/Index">Manifestacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Kupac/Karte">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>

        </ul>
    </div>
</nav>
<div>
    <form action="~/Kupac/DodajKomentar" method="post">

        <p>Ocena manifestacije</p>
        <select class="custom-select" name="Ocena">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <textarea class="textarea-a" name="TekstKomentara" placeholder="Unesite komentar..."></textarea>
       @{ 
           if(ViewBag.Error != null)
           {
               <span>@ViewBag.Error</span>
           }
       }
        <input type="hidden" name="Id" value="@ViewBag.Id" />
        <input class="btn-dark" type="submit" value="Dodaj komentar"></input>
        <a class="btn-dark" href="~/Kupac/Index">Nazad</a>
    </form>
</div>
