﻿
@{
    ViewBag.Title = "Karta";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Kupac/Index">Manifestacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Kupac/Karte">Karte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
            </li>

        </ul>
    </div>
</nav>


<div class="page-content page-container" id="page-content">
    <div class="padding d-flex justify-content-center">
        <div class="col-xl-5 col-md-10">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-12">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacije</h6>

                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Naziv manifestacije</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Manifestacija.Naziv</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Datum i vreme odrzavanja</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.DatumOdrzavanja.ToString("dd.MM.yyyy. HH:mm")</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Cena rezervacije</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Cena dinara</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Broj karata</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.BrojKarata</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Tip karte</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Tip.ToString()</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Kupac</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.Karta.Kupac</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-dark" value="Nazad">Nazad</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
