﻿
@{
    ViewBag.Title = "Karte";
}

@{
    if (((Korisnik)(Session["ulogovan"])).Uloga == Uloga.Administrator)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Index">Korisnici </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Administrator/Manifestacija">Manifestacija </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Administrator/Karte">Karte<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="~/LogIn/Profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Registration">Dodaj prodavca</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    else if (((Korisnik)(Session["ulogovan"])).Uloga == Uloga.Prodavac)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="~/Prodavac/Index">Manifestacija</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Prodavac/Karte">Karte<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="~/LogIn/Profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Prodavac/Manifestacija">Dodaj manifestaciju</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarNav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Kupac/Index">Manifestacija</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Kupac/Karte">Karte <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="~/LogIn/Profil">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/LogIn/Odjava">Odjava</a>
                    </li>

                </ul>
            </div>
        </nav>
        <section class="search-sec">
            <div class="container">
                <form action="~/Kupac/PretragaKarata" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div>
                                    <input type="text" class="form-control search-slt" name="Naziv" placeholder="Naziv manifestacije">
                                </div>
                                <div>
                                    <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaPocetak">
                                </div>
                                <div>
                                    <input type="date" class="form-control search-slt" name="DatumVremeOdrzavanjaKraj">
                                </div>
                                <div>
                                    <input type="number" class="form-control search-slt" placeholder="Minimalna cena karte" name="CenaKarteMin">
                                </div>
                                <div>
                                    <input type="number" class="form-control search-slt" placeholder="Maksimalna cena karte" name="CenaKarteMax">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-dark">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="search-sec">
            <div class="container">
                <form action="~/Kupac/FiltriranjeTipKarte" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="align-content-lg-center">
                            <div class="row">
                                <div>
                                    <select class="form-control search-slt" name="TipKarte">
                                        <option value="REGULAR">REGULAR</option>
                                        <option value="VIP">VIP</option>
                                        <option value="FAN_PIT">FAN_PIT</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-dark">Filtriraj</button>
                            </div>

                        </div>
                    </div>
                </form>
                <form action="~/Kupac/FiltriranjeStatusKarte" method="post"  novalidate="novalidate">
                    <div class="row">
                        <div class="align-content-lg-center">
                            <div class="row">

                                <div>
                                    <select class="form-control search-slt"  name="StatusKarte">
                                        <option>Rezervisana</option>
                                        <option>Odustanak</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-dark">Filtriraj</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="search-sec">

            <div class="container-fluid">
                <div class="row">
                    <div class="align-content-lg-center">
                        <div class="row">

                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeNazivOpadajuce" role="button">Naziv manifestacije-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeNazivRastuce" role="button">Naziv manifestacije-rastuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeVremeOpadajuce" role="button">Datum odrzavanja-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeVremeRastuce" role="button">Datum odrzavanja-rastuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeCenaOpadajuce" role="button">Cena karte-opadajuće</a>
                            </div>
                            <div>
                                <a class="btn btn-outline-dark btn-sm" href="~/Kupac/SortiranjeCenaRastuce" role="button">Cena karte-rastuće</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
}




<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv manifestacije</th>
            <th scope="col">Datum i vreme održavanja</th>
            <th scope="col">Mesto odrzavanja</th>
            <th scope="col">Cena karte</th>
            <th scope="col">Tip rezervacije</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ViewBag.Karta.Count; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@ViewBag.Karta[i].Manifestacija.Naziv.ToString()</td>
                    <td>@ViewBag.Karta[i].DatumOdrzavanja.ToString("dd.MM.yyyy. HH:mm")</td>
                    <td>
                        <table>
                            <tr>
                                <td>@ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Ulica @ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Broj</td>
                            </tr>
                            <tr>
                                <td>@ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.PostanskiBroj, @ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.MestoOdrzavanja.Mesto </td>
                            </tr>
                            <tr>
                                <td>@ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.GeografskaSirina, @ViewBag.Karta[i].Manifestacija.MestoOdrzavanja.GeografskaDuzina </td>
                            </tr>
                        </table>
                    </td>
                    <td>@ViewBag.Karta[i].Cena</td>
                    <td>@ViewBag.Karta[i].Tip.ToString()</td>
                    <td>
                        <form action="~/Kupac/DetaljiRezervisaneKarte" method="post">
                            <input type="hidden" name="Id" value="@ViewBag.Karta[i].JedinstveniIdentifikatorKarte" />
                            <button class="btn btn-info">Detalji</button>
                        </form>
                        @{ if (@ViewBag.Karta[i].Status == false)
                            { <form action="~/Kupac/OdustanakOdKarte" method="post">
                                    <input type="hidden" name="Id" value="@ViewBag.Karta[i].JedinstveniIdentifikatorKarte" />
                                    <button class="btn btn-dark">Odustanak</button>
                                </form>
                            }
                        }

                    </td>
                </tr>
            }
        }

    </tbody>

</table>